fetch('https://www.api.thingforlife.com/?url=blog')
  .then(r => r.json())
  .then(json => {
    const posts = json.data;  // to je pole článků

    // první článek
    console.log("Nadpis:", posts[0].description);
    console.log("Autor:", posts[0].username);
    console.log("Obsah:", posts[0].article);

    // projít všechny články
    posts.forEach(post => {
      console.log("--------");
      console.log("Nadpis:", post.description);
      console.log("Autor:", post.username);
      console.log("Obsah:", post.article);
    });
  })
  .catch(err => console.error("Chyba:", err));

